/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2017, 7:49:04 PM
    Author     : MuhammadBhuwana
*/

.button{
    -fx-background-color:#4285F4;
    -fx-border-radius:7px;
}
.button:hover{
    -fx-text-fill:#ffffff;
}
.hamburger {
    -fx-spacing: 4px;
}
.hamburger StackPane{
    -fx-background-color:#ffffff;
    -fx-background-radius:5px;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color:#4285F4;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:#ffffff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill:#000000;
;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-text-fill:#000000;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-text-fill:#000000;
}

.table-row-cell:selected {
    -fx-background-color: #f9f9f9;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}